# Coverage file to configure coverage report
[run]
source = src
branch = True
omit = 
        *config.py*
        *init.py*
        *main.py*
        *userinterfaces.py


[report]
omit = 
        *test*


exclude_lines = 
        pragma: no cover
        def __repr__
        if self.debug:
        raise AssertionError
        raise NotImplementedError
        except Exception as e:
        except Exception as err:
        except Exception as error:
        if 0:
        if __name__ == .__main__.:


[html]
directory = html_coverage_report
